[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "nkeyapo.com/themes/PaperMod"]
	path = nkeyapo.com/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "test/themes/ananke"]
	path = test/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "nkeyapo.com/themes/ananke"]
	path = nkeyapo.com/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "nkeyapo-hugo/themes/PaperMod"]
	path = nkeyapo-hugo/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "nkeyapo-hugo/themes/blowfish"]
	path = nkeyapo-hugo/themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
